@import "./index.scss";

.btn-style {
  background: $primary-gradient;
}

.addedit-contact {
  height: 100%;
}

.form-group {
  margin: 25px auto;

  & label {
    font-weight: 700;
    margin-bottom: 10px;
  }
}
